* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HEADER */

header{
  display: flex;
  align-items: center;  
}
img{
  width: 200px;
}

nav.navbar{
  margin: 40px 0px 0px 100px;
  display: flex;
}

nav.navbar ul{
  display: flex;
  list-style: none;
  margin: 0px 300px 0px 100px;
}

li{
margin: 0px 10px;
}
nav.navbar button{
  margin-right: 10px;
}

/* MAIN */

main {
  min-width: 80vh;
  background-color:rgba(183, 181, 181, 0.093);
  margin: 20px;
}

/* FOOTER */

footer {
  background-color: #181818;
  box-shadow: 0px 0px 3px 0.2px #cccccc91;
  display: flex;
  padding: 15px;
  font-size: small;
  color: white;
  align-items: center;
  bottom: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
}

nav.footer{
  display: flex;
}

nav.footer ul {
display: flex;
list-style: none;
margin-left: 500px;
}